@import '../../styles/variables';

.avatar {
  width: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  background: $color-avatar-stroke;
  img {
    border-radius: 50%;
    box-sizing: content-box;
    border: 3px solid $color-bg-secondary;
  }
}