@import './variables';

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: $border-radius-small;
}
::-webkit-scrollbar-thumb {
  background: $color-scroll;
  border-radius: $border-radius-small;
  &:hover {
    background: darken($color-scroll, $amount: 15);
  }
}
